.block{
    height: 700px;
    width: 500px;
    border: solid 5px purple;
    background-color: black;
    position: fixed; top: 100px; left:300px;
}
.text2{     
    font-size: xx-large;
}
.block1{
    height: 300px;
    width: 800px;
    border: solid 5px red;
    background-color: black;
    position: sticky; top: 0px; left: 500px;
}
.text1{
    font-size: xx-large;
}